.image-main {
    background: #fff none repeat scroll 0 0;
    height: auto;
    padding-left:15px;
    position:absolute;
}
img {
    padding-top:80px;
    height: 450px;
    max-width: 450px;
}
.info-main{
    position:absolute;
    height:auto;
    max-width:100%;
}
.name{
    font-style: italic;
	color: gray;
	max-width:100%;
	height:auto;
    margin-left:700px;
    font-size: 40px;
}
.textDescription{
    position:relative;
    padding-top:120px;
    max-width:100%;
    height:auto;
    font-style: italic;
	color: gray;
    margin-left:400px;
    font-size: 28px;
}