#accountInfo{
	width: 100%;
	background-color: #FFFFE0;
	max-width: 300px;
	position: absolute;
    height: 160px;
    margin-top:50px
}
#characteristicsInfo {
    padding-top:10px;
	padding-right: 5px;
	padding-left: 10px;
}
.productName{
    text-align: center;
}
body{
    background: url(https://cdn.discordapp.com/attachments/460067788501942273/667693845378760715/1447905384.combatraccoon_pizzawallpaper1920x1080.png);
}